.MMM-Roomba .name {
  padding-left: 0;
  padding-right: 25px;
  text-align: left;
}

.MMM-Roomba .phase {
  padding-left: 0;
  padding-right: 15px;
}

.MMM-Roomba .battery {
  padding-left: 30px;
  padding-right: 0;
}
